/* Write your code here. */
.lose {
  display: flex;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-radius: 10px;
}
.lose h1 {
  padding: 10px;
  background-color: lightcoral;
  color: white;
  border-radius: 5px;
}
.lose p {
  padding: 10px;
  background-color: gray;
  color: white;
  border-radius: 5px;
  font-weight: bold;
}
.lose img {
  width: 200px;
  height: 200px;
  margin: 30px;
}

button {
  outline: none;
  padding: 10px;
  font-size:20px;
  border-radius: 5px;
  border:none;
  color: white;
  background-color: lightgreen;
}
